<main class="mainContainer">
  <div class="row profileHeader" style="height: 40%">
    <div
      class="col-md-2"
      style="display: flex; align-items: center; justify-content: right"
    >
      <nz-avatar
        [nzShape]="'square'"
        [nzSize]="190"
        [nzIcon]="'user'"
        style="border-radius: var(--border-radius)"
      ></nz-avatar>
    </div>
    <div class="col-md-8" style="margin-top: 3%; margin-left: 2%">
      <div class="row">
        <div class="col-md-12">
          <strong
            ><h2
              style="
                color: var(--text-color);
                font-weight: 500;
                font-size: xx-large;
              "
            >
              {{ user.name + " " + user.surname }}
            </h2></strong
          ><q>{{ user.email }}</q>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-2">
          <p style="color: rgb(160, 156, 156); margin-bottom: 1px">Workfield</p>
          <h5 class="m-0" style="color: var(--text-color); margin-top: 0">
            {{ user.workfield }}
          </h5>
        </div>

        <div class="col-md-2">
          <p style="color: rgb(160, 156, 156); margin-bottom: 1px">
            Register Date
          </p>
          <h5 class="m-0" style="color: var(--text-color); margin-top: 0">
            {{ user.registerdate }}
          </h5>
        </div>
        <div class="col-md-2">
          <p style="color: rgb(160, 156, 156); margin-bottom: 1px">City</p>
          <h5 class="m-0" style="color: var(--text-color); margin-top: 0">
            {{ user.city }}
          </h5>
        </div>
        <div class="col-md-2">
          <p style="color: rgb(160, 156, 156); margin-bottom: 1px">Birthdate</p>
          <h5 class="m-0" style="color: var(--text-color); margin-top: 0">
            {{ user.birthdate }}
          </h5>
        </div>
        <div class="col-md-2">
          <p style="color: rgb(160, 156, 156); margin-bottom: 1px">Role</p>
          <h5 class="m-0" style="color: var(--text-color); margin-top: 0">
            {{ user.roles?.[0]?.split('_')?.[1] }}
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height: 60%">
    <div class="col-md-8">
      <p style="color: black">hola</p>
    </div>
    <div class="col-md-4">
      <p>hola</p>
    </div>
  </div>
</main>
