input {
  height: 40px !important;
  box-shadow: var(--box-shadow);
}

.friendbutton {
  border: 2px var(--sidebar-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
