<div
  style="
    border-radius: var(--border-radius);
    background-color: white;
    height: 100%;
  "
>
  <div style="padding: 5px">
    <p-table
      #dt1
      [value]="users"
      [styleClass]="'p-datatable-sm p-datatable-striped'"
      [globalFilterFields]="[
        'email',
        'name',
        'workfield',
        'registerdate',
        'city'
      ]"
      [(selection)]="selectedUsers"
      dataKey="id"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rows]="13"
      [scrollable]="true"
      scrollHeight="700px"
    >
      <ng-template pTemplate="caption">
        <p-iconField iconPosition="left">
          <p-inputIcon>
            <i
              class="pi pi-search"
              style="display: flex; align-items: center"
            ></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            (input)="filterGLobal($event)"
            placeholder="Search..."
          />
        </p-iconField>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="email">
            Username
            <p-sortIcon field="email"
              ><i
                class="pi pi-search"
                style="display: flex; align-items: center"
              ></i
            ></p-sortIcon>
          </th>
          <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
          <th pSortableColumn="workfield">
            Workfield <p-sortIcon field="workfield" />
          </th>
          <th pSortableColumn="registerdate">
            Register Date <p-sortIcon field="registerdate" />
          </th>
          <th pSortableColumn="city">City <p-sortIcon field="city" /></th>
          <th style="width: 5%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr [pSelectableRow]="user">
          <td>
            <span class="p-column-title">Username</span>
            {{ user.email.split("@")[0] }}
          </td>
          <td>
            <span class="p-column-title">Name</span>
            {{ user.name + " " + user.surname }}
          </td>
          <td>
            <span class="p-column-title">Workfield</span>
            {{ user.workfield }}
          </td>
          <td>
            <span class="p-column-title">Register Date</span>
            {{ user.registerdate }}
          </td>
          <td>
            <span class="p-column-title">City</span>
            {{ user.city }}
          </td>
          <td>
            <span class="p-column-title">Info</span>
            <i class="pi pi-info-circle" (click)="showDialog(user)"></i>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No users found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog
  *ngIf="userForModal"
  header="Header"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '25rem' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center">
      <p-avatar icon="pi pi-user" />
      <span class="font-bold white-space-nowrap">
        <strong>{{
          "  " + userForModal.name + " " + userForModal.surname | uppercase
        }}</strong>
      </span>
    </div>
  </ng-template>
  <p class="p-text-secondary block mb-2">
    <strong>Username: </strong>{{ userForModal.email.split("@")[0] }}
  </p>
  <p class="p-text-secondary block mb-2">
    <strong>Email: </strong>{{ userForModal.email }}
  </p>
  <p class="p-text-secondary block mb-2">
    <strong>Birthdate: </strong>{{ userForModal.birthdate }}
  </p>
  <p class="p-text-secondary block mb-2">
    <strong>Role: </strong>{{ userForModal.roles[0].split("_")[1] }}
  </p>
  <p class="p-text-secondary block mb-2">
    <strong>Workfield: </strong>{{ userForModal.workfield }}
  </p>
  <p class="p-text-secondary block mb-2">
    <strong>Register Date: </strong>{{ userForModal.registerdate }}
  </p>
  <p class="p-text-secondary block mb-2">
    <strong>City: </strong>{{ userForModal.city }}
  </p>
  <p class="p-text-secondary block mb-2">
    <strong>Friends: </strong>{{ areFriends(userForModal.id) }}
  </p>
</p-dialog>
