<main style="height: 80%; display: flex; align-items: center">
  <div class="container mb-5">
    <form>
      <h2 class="mb-5">REGISTER NEW DEVICE</h2>
      <div class="row">
        <div class="col-md-4 mb-5">
          <input
            type="text"
            class="form-control"
            id="campo1"
            placeholder="Name"
            required
          />
        </div>
        <div class="col-md-4 mb-5">
          <input
            type="text"
            class="form-control"
            id="campo1"
            placeholder="First Surname"
            required
          />
        </div>
        <div class="col-md-4 mb-5">
          <input
            type="text"
            class="form-control"
            id="campo1"
            placeholder="Second Surname"
            required
          />
        </div>
        <div class="col-md-6 mb-5">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
            required
          />
        </div>
        <div class="col-md-3 mb-5">
          <input
            type="text"
            class="form-control"
            id="campo1"
            placeholder="Password"
            required
          />
        </div>
        <div class="col-md-3 mb-5">
          <input
            type="text"
            class="form-control"
            id="campo1"
            placeholder="Confirm Password"
            required
          />
        </div>
        <!-- <div class="col-md-6 mb-5">
          <label for="campo3">Modulos 2 DAW</label>
          <select id="campo3" name="campo3" class="form-select">
            <option value="volvo" selected>Elige Modulo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </div> -->

        <div class="col-md-3 mb-5">
          <label
            for="formFile"
            class="form-label"
            style="color: var(--sidebar-background-color)"
            >Birthdate</label
          >
          <input
            type="date"
            class="form-control"
            name="birthdate"
            id="birthdate"
            required
          />
        </div>
        <div class="col-md-3 mb-5">
          <label
            for="formFile"
            class="form-label"
            style="color: var(--sidebar-background-color)"
            >Date of Register</label
          >
          <input
            type="date"
            class="form-control"
            name="birthdate"
            id="birthdate"
            disabled
          />
        </div>
        <div class="row" style="justify-content: right">
          <button
            style="width: fit-content"
            class="btn btn-primary"
            type="submit"
          >
            Enviar formulario
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
