<nz-layout id="core-layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logoContainer">
      <div
        class="logo"
        [ngStyle]="{
          content: isCollapsed
            ? 'var(--PARADOX-navbar-collapsed)'
            : 'var(--PARADOX-navbar)',
          width: isCollapsed ? '200%' : '80%'
        }"
      ></div>
    </div>
    <br />
    <ul nz-menu nzTheme="dark" nzMode="inline" class="nz-menu">
      <li class="navbarItem" nz-menu-item [routerLink]="['main']">
        <a style="display: flex; align-items: center" [routerLink]="['main']">
          <i nz-icon nzType="home" nzTheme="outline"></i>
          <span>Home</span>
        </a>
      </li>
      <li
        *ngIf="userInfo.devices?.length! >= 1"
        class="navbarItem"
        nz-menu-item
        [routerLink]="['analytics']"
      >
        <a
          style="display: flex; align-items: center"
          [routerLink]="['analytics']"
        >
          <i nz-icon nzType="dashboard" nzTheme="outline"></i>
          <span>Analytics</span>
        </a>
      </li>
      <li
        *ngIf="userInfo.devices?.length! >= 1"
        class="navbarItem"
        nz-submenu
        nzTitle="Devices"
        nzIcon="mobile"
      >
        <ul>
          <li
            *ngFor="let deviceName of userInfo.devices"
            nz-menu-item
            [routerLink]="['devices', deviceName]"
          >
            {{ deviceName }}
          </li>
        </ul>
      </li>
      <li
        *ngIf="userInfo.teams?.length! >= 1"
        class="navbarItem"
        nz-submenu
        nzTitle="Team"
        nzIcon="team"
      >
        <ul>
          <li
            *ngFor="let teamName of userInfo.teams"
            nz-menu-item
            [routerLink]="['teams', teamName]"
          >
            {{ teamName }}
          </li>
        </ul>
      </li>
      <li class="navbarItem" nz-submenu nzTitle="Users" nzIcon="user">
        <ul>
          <li nz-menu-item [routerLink]="['user', 'friends']">Friends</li>
          <li nz-menu-item [routerLink]="['user', 'profile']">My Profile</li>
        </ul>
      </li>
      <li
        *ngIf="hasAdminRole"
        class="navbarItem"
        nz-submenu
        nzTitle="Admin"
        nzIcon="team"
      >
        <ul>
          <li nz-menu-item [routerLink]="['admin', 'management']">
            Management
          </li>
          <li nz-menu-item [routerLink]="['admin', 'create']">Create</li>
        </ul>
      </li>
      <li class="navbarItem" nz-menu-item [routerLink]="['settings']">
        <a
          style="display: flex; align-items: center"
          [routerLink]="['settings']"
        >
          <i nz-icon nzType="setting" nzTheme="outline"></i>
          <span>Settings</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="display: flex; align-items: center">
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
      <nz-breadcrumb
        [nzAutoGenerate]="true"
        [nzRouteLabel]="'customBreadcrumb'"
        style="width: 100%; font-weight: bold"
      ></nz-breadcrumb>
      <div style="margin-right: 1%">
        <a [routerLink]="['user', 'profile']" style="color: gray">{{ user }}</a>
      </div>
      <div style="margin-right: 2%; display: flex">
        <i
          (click)="this.logoutSvc.logout()"
          style="font-size: large"
          nz-icon
          nzType="logout"
          nzTheme="outline"
        ></i>
      </div>
    </nz-header>
    <br />
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>PARADOX Analytics ©2024 PARADOX</nz-footer>
  </nz-layout>
</nz-layout>
