<nz-layout id="core-layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logoContainer">
      <div class="logo"></div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Profile</li>
          <li nz-menu-item>Settings</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="display: flex; align-items: center">
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-header>
    <br />
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>PARADOX Analytics ©2024 PARADOX</nz-footer>
  </nz-layout>
</nz-layout>
