#core-layout {
  height: 100vh;
  width: 100%;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.trigger:hover {
  color: var(--sidebar-item-hover-color);
}

.logoContainer {
  display: grid;

  margin: 16px;
}

.logo {
  align-self: center;
  justify-self: center;
}

nz-header {
  background: var(--navbar-background-color);
  box-shadow: var(--box-shadow);
  padding: 0;
  margin: 0.75% 0.7% 1px 0.2%;
  border-radius: var(--border-radius);
  border: 2px solid var(--sidebar-background-color);
}

nz-sider,
.nz-menu {
  background: var(--sidebar-background-color);
}

nz-sider {
  margin: 0.6%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

nz-content {
  margin: 0 0.7% 16px 0.2%;
}

nz-breadcrumb {
  margin: 16px 0;
  font-size: large;
  font-weight: bold;
}

.inner-content {
  padding: 24px;
  background-color: var(--background-main-color);
  height: 100%;
  width: 100%;
  padding-bottom: 1%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

nz-footer {
  text-align: center;
  justify-content: center;
  align-items: end;
  display: flex;
  max-height: 0.1px;
}

.navbarItem {
  font-size: medium;
}
