#core-layout {
  height: 100vh;
  width: 100%;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.trigger:hover {
  color: #1890ff;
}

.logoContainer {
  display: grid;

  margin: 16px;
}

.logo {
  align-self: center;
  justify-self: center;
}

nz-header {
  background: var(--navbar-background-color);
  box-shadow: 0px 5px 6px rgba(65, 61, 61, 0.219);
  padding: 0;
}

nz-sider,
.nz-menu {
  background: var(--sidebar-background-color);
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background-color: var(--background-main-color);
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

nz-footer {
  text-align: center;
}

.navbarItem {
  font-weight: 500;
  font-size: medium;
}
