.energystudent {
  --text-color: #524345;
  --primary-text-color: #ffffff;
  --secondary-text-color: #454546;
  --primary-color: #495057;
  --info-color: #0285c7;
  --info-color-background: #d6c8bb;
  --warning-color: #db7900;
  --danger-color: #c70d18;
  --success-color: #449c09;
  --font-family: Roboto, sans-serif;
  --content-padding: 1.25rem;
  --inline-spacing: 0.5rem;
  --border-radius: 0px;
  --focus-ring: 0 0 0 0.2rem #f9e7ea;
  --maskbg: rgba(0, 0, 0, 0.4);
  --button-actions-size: 16px;
  --button-header-size: 20px;
  --PARADOX-background: url("/assets/img/energystudent/fondo.svg");
  --PARADOX-menu: url("/assets/img/energystudent/EMT_Valencia_logo.svg");
  --PARADOX-menu-collapsed: url("/assets/img/energystudent/EMT_Valencia_logo.svg");
  --PARADOX-auth: url("/assets/img/energystudent/EMT_Valencia_logo.svg");
  --background-light: #f8f9fa;
  --background-secondary: #f8f9fa;
  --background-menu: #454546;
  --background-children-menu: #c8102e;
  --background-parent-menu: #454546;
  --background-active-menu: #e99fab;
  --text-active-menu: #ffffff;
  --hover-color: #640817;
  --hover-border-color: #454546;
  --hover-text-color: #c8102e;
  --hover-bg-color: #dfdfdf;
  --loading-url: url("/assets/img/energystudent/GIF_emt_cargando.svg");
  --scrollbar-bar-color: #dfdfdf;
  --dialog-x-color: #f9e7ea;
  --fondo-logo-menu: #ffffff;
}
