<main>
  <div class="container mt-4">
    <form>
      <h2 class="mb-4">Register USER for PARADOX Analytics</h2>
      <div class="row">
        <div class="col-md-3 mb-2">
          <input
            type="text"
            class="form-control"
            id="campo1"
            placeholder="Name"
            required
          />
        </div>
        <div class="col-md-3 mb-2">
          <input
            type="text"
            class="form-control"
            id="campo1"
            placeholder="Surname"
            required
          />
        </div>
        <div class="col-md-6 mb-4">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>
        <div class="col-md-6 mb-2">
          <input
            type="text"
            class="form-control"
            id="campo1"
            placeholder="Password"
            required
          />
        </div>
        <div class="col-md-6 mb-2">
          <input
            type="text"
            class="form-control"
            id="campo1"
            placeholder="Confirm Password"
            required
          />
        </div>
        <div class="col-md-6 mb-4">
          <label for="campo3">Modulos 2 DAW</label>
          <select id="campo3" name="campo3" class="form-select">
            <option value="volvo" selected>Elige Modulo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </div>

        <div class="col-md-6 mb-4">
          <label for="formFile" class="form-label"></label>
          <input class="form-control" type="file" id="formFile" />
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Enviar formulario</button>
    </form>
  </div>
</main>
