<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div *ngIf="!tenantExist" style="align-items: center" class="inputForm">
    <input
      type="text"
      id="client"
      name="client"
      formControlName="tenantId"
      placeholder="Client"
      style="height: min-content"
    />
    <button
      style="margin-left: 5px"
      size="small"
      shape="round"
      type="submit"
      fill="outline"
    >
      >
    </button>
  </div>
  <div *ngIf="tenantExist">
    <div class="inputForm">
      <input
        type="email"
        id="username"
        name="username"
        formControlName="username"
        placeholder="Username"
      />
    </div>
    <div class="inputForm second">
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        placeholder="Password"
        style="height: min-content"
      />
      <button
        style="margin-left: 5px"
        size="small"
        shape="round"
        type="submit"
        fill="outline"
      >
        >>
      </button>
    </div>
  </div>
</form>
