<div class="row">
  <div class="col-md-2">
    <canvas id="polar-chart-0" width="300px"></canvas>
  </div>
  <div class="col-md-2">
    <canvas id="polar-chart-1" width="300px"></canvas>
  </div>
  <div class="col-md-2">
    <canvas id="polar-chart-2" width="300px"></canvas>
  </div>
  <div class="col-md-2">
    <canvas id="polar-chart-3" width="300px"></canvas>
  </div>
  <div class="col-md-2">
    <canvas id="polar-chart-4" width="300px"></canvas>
  </div>
  <div class="col-md-2">
    <canvas id="polar-chart-5" width="300px"></canvas>
  </div>
</div>
