/* You can add global styles to this file, and also import other style files */
@import "ng-zorro-antd/ng-zorro-antd.variable.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import "theme/variablesEnergyStudent.scss";
@import "theme/variablesFlorida.scss";
:root {
  --paradox-color-step-50: #0d0d0d;
  --paradox-color-step-100: #1a1a1a;
  --paradox-color-step-150: #262626;
  --paradox-color-step-200: #333333;
  --paradox-color-step-250: #404040;
  --paradox-color-step-300: #4d4d4d;
  --paradox-color-step-350: #595959;
  --paradox-color-step-400: #666666;
  --paradox-color-step-450: #737373;
  --paradox-color-step-500: #808080;
  --paradox-color-step-550: #8c8c8c;
  --paradox-color-step-600: #999999;
  --paradox-color-step-650: #a6a6a6;
  --paradox-color-step-700: #b3b3b3;
  --paradox-color-step-750: #bfbfbf;
  --paradox-color-step-800: #cccccc;
  --paradox-color-step-850: #d9d9d9;
  --paradox-color-step-900: #e6e6e6;
  --paradox-color-step-950: #f2f2f2;
  --background-main-color: var(--paradox-color-step-900);
  --text-color: var(--paradox-color-step-900);
  --PARADOX-background: url("/assets/img/paradox/fondo.svg");
  --PARADOX-navbar: url("/assets/img/paradox/paradox.analytics.dark.svg");
  --PARADOX-navbar-collapsed: url("/assets/img/paradox/paradox.analytics.collapse.svg");
  --PARADOX-logo: url("/assets/img/paradox/paradox.analytics.svg");
  --PARADOX-logo-white: url("/assets/img/paradox/paradox.analytics.dark.svg");
  --PARADOX-logo-collapsed: url("/assets/img/paradox/paradox.analytics.collapse.svg");

  --navbar-background-color: var(--paradox-color-step-900);
  --sidebar-background-color: var(--paradox-color-step-100);
  --sidebar-submenu-background-color: var(--paradox-color-step-50);
  --sidebar-item-selected-color: var(--paradox-color-step-300);
  --border-radius: 10px;
  --box-shadow: 0px 0px 14px 4px rgba(181, 177, 177, 0.83);
}

body {
  background-color: var(--background-main-color);
  color: var(--text-color);
  font-family: "Roboto";
}

input {
  border-radius: var(--border-radius);
}

button {
  border-radius: var(--border-radius);
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: var(--sidebar-item-selected-color);
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: var(--sidebar-submenu-background-color);
}

.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: var(--sidebar-submenu-background-color);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after {
  border-bottom: 3px solid var(--sidebar-background-color);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow,
.ant-menu-submenu:hover
  > .ant-menu-submenu-title
  > .ant-menu-submenu-expand-icon,
.ant-menu-vertical .ant-menu-submenu-selected,
.ant-menu-vertical-left .ant-menu-submenu-selected,
.ant-menu-vertical-right .ant-menu-submenu-selected {
  color: var(--sidebar-background-color);
}
